body {
    background: #252839;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header Style */

header {
    background: #677077;
    text-transform: uppercase;
    padding: 15px 20px 15px 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    line-height: 50px;
}

header #logo {
    color: #f2b632;
    font-size: 75px;
}

header #navigation-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header #navigation-header a {
    color: #b5b5b7;
    font-size: 20px;
    align-self: center;
}

/* Change background of links when hovered over */

header a:hover {
    background-color: #33383b
}

/* Change Header Fromat Depending on Window Size */

@media screen and (max-width: 1280px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 720px) {
    header #navigation-header {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

/* Content Style */

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    background: #b5b5b7;
    padding: 20px 20px 20px 20px;
    max-width: 80%;
    min-height: 480px;
    overflow: auto;
    margin: auto;
}

/* Content Style - Home */

#home-content .images {
    text-align: right;
}

#home-content .about-me {
    background: #f2b632;
    color: #252839;
    width: 320px;
    height: 320px;
    justify-items: center;
    align-items: left;
    overflow: scroll;
    padding: 5px 15px 5px 15px;
}

/* Content Style - Contact Me */

#contactme-content {
    display: block;
    text-align: center;
}

#contactme-content form {
    display: inline-block;
    width: 80%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#contactme-content .input {
    width: 80%;
}

#contactme-content .input-message {
    width: 100%;
    height: 150px;
    resize: none;
}

#contactme-content .input-submit {
    float: right;
}

@media screen and (max-width: 1080px) {
    section {
        display: block;
        min-height: 256px; 
    }
    #home-content .images {
        text-align: center;
    }
    #home-content .about-me {
        margin-left:auto;
        margin-right: auto;
    }
}

/* Footer Style */

footer {
    background: #33383b;
    color: #b5b5b7;
    overflow: hidden;
    padding: 0px;
}

footer a {
    color: #b5b5b7;
}