body {
    background: #252839;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header Style */

header {
    background: #677077;
    text-transform: uppercase;
    padding: 15px 20px 15px 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    line-height: 50px;
}

header #logo {
    color: #f2b632;
    font-size: 75px;
}

header #navigation-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header #navigation-header a {
    color: #b5b5b7;
    font-size: 20px;
    align-self: center;
}

/* Change background of links when hovered over */

header a:hover {
    background-color: #33383b
}

/* Change Header Fromat Depending on Window Size */

@media screen and (max-width: 1280px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 720px) {
    header #navigation-header {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

/* Content Style */

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

section #images {
    text-align: center;
}

section #about-me {
    background-color:#b5b5b7;
    width: 320px;
    height: 320px;
    justify-items:center;
    align-items:center;
    overflow: scroll;
}

@media screen and (max-width: 720px) {
    section {
        display: block;
    }
}

/* Footer Style */

footer {
    background: #b5b5b7;
    overflow: hidden;
    padding: 0px;
}